.left-section {
    height: 500px;
    padding: 0px;
    margin: 0px;

}

.sign-text {
    margin: 20px;
}

.sign-up-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.signUp-btn {
    background-color: transparent;
    border-color: yellow;
    margin-right: 20px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}

.right-section {
    margin-left: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

form {
    padding: 20px;
}

.mb-3 {
    margin: 10px;
}

.btn-login {
    margin-left: 110px;
    border-radius: 15px;
    background-color: purple;
    color: #fff;
    margin-top: 10px;
    width: 200px;
}

.container {
    margin-top: 20px;
    margin-left: 40px;
}
.social-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.facebook-icon{
    margin-left: 158px;
}

.google-icon{
    cursor: pointer;
}

.alternative-action{
    margin-left: 110px;
    color: grey;
}

.mb-3 {
    position: relative;
  }
  
  .email-icon {
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
  }
  .password-icon{
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
  }

body {
    background-color: black;
    color: #fff;
}

h2 {
    color: #fff;
    margin-right: 10px;
}

.btn-redirect {
    margin-left: 65px;
}

.btn-redirect-login {
    margin-left: 90px;
}
.form-control{
    width: 400px;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background-color: transparent;
    margin-left: 15px;
    padding-left: 30px;
    
}
.form-control::placeholder{
    color: #fff;
}

.signup-redirect {
    color: blue;
    margin-left: 5px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .container {
        width: 370px;
        padding: 10px;
        margin-top: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 8px;
    }
    .left-section {
        padding: 0px;
        margin: 0px;
    }

    .right-section {
        margin-top: -450px;
        margin-left: 5px;
    }

    .sign-up-actions {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 350px;
        margin-left: 27px;
    }

    .signUp-btn {
        margin-left: 15px;
    }
    .form-control{
        width: 280px;
    }
    .btn-login{
        margin-left: 50px;
    }
    .facebook-icon{
        margin-left: 105px;
    }
    

}