.add-comment{
  height: 50px;
  width: 80px;
  margin-top: 20px;
  color: #fff;
}
.comment {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  color: #000;
}
.like-btn{
  background-color: rgb(21, 21, 21);
  color: #fff;
}
.delete-btn{
  margin-left: 10px;
  background-color: rgb(23, 23, 23);
  color: #fff;
}

.comment input[type="text"] {
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1; 
  margin-right: 10px;
  height: 50px;
}

.list-group-item {
  color: black;
}
.list-group{
  margin-left: 5px;
}
