.add-comment{
  border: 1px solid yellow;
  height: 50px;
  width: 80px;
  margin-top: 20px;
  color: #fff;
}
.comment {
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #000;
}
.like-btn{
  border: 1px solid yellow;
  color: #fff;
}
.delete-btn{
  margin-left: 10px;
}

.comment input[type="text"] {
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1; 
  margin-right: 10px;
  height: 50px;
}

.list-group-item {
  color: black;
}
